/* this is for the thumbnail images */
.crop-img{
  max-height:150px;
  max-width:100%;
  margin-top: 30px;
  margin-bottom: 10px;
}

/* this is for the big main image */
.large-img{
  max-width:100%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.color{
  color:lightseagreen;
}
.back{
  background-image: url(https://static.dezeen.com/uploads/2020/02/voisin-organique-restaurant-interiors-china-various-associates_dezeen_hero-2.jpg);
}
